@font-face {
    font-family: 'Cupertino Icons';
    src: url(CupertinoIcons.ttf);
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(SF-Pro-Display-Regular.otf);
}

body {
    font-family: SF Pro Display;
    background-color: #f2f1f5;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cupertino-icons {
    font-family: Cupertino Icons;
}

.mdui-card,
.mdui-list-item {
    border-radius: 8px;
}

.mdui-card {
    box-shadow: none;
}